<html>
  <head><title>hey</title></head>
  <body>
    welcome <%= user%>

    <!-- <form>
        <div class="form-controller">
            <label for="username"> User name</label>
            <input name="username" id="username" type="text">
        </div>
        <div>
            <button formaction="/api/v1/sendForm" type="submit">Click</button>
        </div>
    </form> -->

    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <!-- <label>To Do:</label>
            <input type="text" class="form-control" name="todo"> -->
            <input type="file" id="file_upload" name="file_upload">
        </div>
        <button type="submit">Click here</button>
    </form>

        
  </body>

</html>